<ion-view hide-nav-bar="true">
  <ion-content>
    <label class="item login-button-container block-button-container">
      <button ng-if="!loggingIn" type="button" class="button button-block button-positive" ng-click="fbLogin()">
        <i class="ion-social-facebook login"></i>
        Login with Facebook
      </button>
      <button ng-if="loggingIn" type="button" class="button button-block button-positive">
        <i class="icon ion-loading-c"></i> Loggin in...
      </button>
    </label>

  </ion-content>
</ion-view>
