<ion-view>
  <div class="bar bar-header bar-light">
    <h1 class="title">Nomad</h1>
  </div>
  <ion-content>
    <!-- <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form> -->
    <label class="item login-button-container block-button-container">
      <button ng-if="!loggingIn" type="button" class="button button-block button-positive" ng-click="fbLogin()">
        <i class="ion-social-facebook login"></i>
        Login with Facebook
      </button>
      <button ng-if="loggingIn" type="button" class="button button-block button-positive">
        <i class="icon ion-loading-c"></i> Loggin in...
      </button>
    </label>

  </ion-content>
</ion-view>
