/* Empty. Add your own CSS if you like */
.ion-social-facebook.login {
  font-size: 20px;
  margin-right: 5px;
}

.login-button-container {
  margin-top: 50%;
}

.block-button-container {
  border: none;
}

.content-dark,
.content-dark .item,
.content-dark .item-content {
  background: #444;
  color: #fff;
}

.content-dark .item-content h2,
.content-dark .item-content h5 {
  color: #fff;
}

